<p name="spacer">Pagament</p>
<div class="payment">
    <img src="/assets/card.jpg">
    <div class="payment-form">
        <div class="card-header">
            <h3>[APP NAME]</h3>
            <p>Prepago</p>
        </div>
        <div class="card-decorator">
            <img src="/assets/card-chip.png">
        </div>
        <div class="card-number">
            <div class="form-group">
                <div id="cardNumber" #cardNumber style="font-size: 2rem !important;"></div>
            </div>
        </div>
        <div class="card-details">
            <div class="form-group">
                <div id="cardExpiry" #cardExpiry></div>
            </div>
            <div class="form-group">
                <div id="cardCvc" #cardCvc></div>
            </div></div>
    </div>

</div>